@inject HttpClient Http
@inject NavigationManager Navigation
@using Elwin.GoGroceries.Client.Helpers;
@using Elwin.GoGroceries.Contracts;
@using Elwin.GoGroceries.Contracts.Post;

@page "/grocerylist/{id:guid}/add"


<MudPaper Width="100%" Class="pa-4">
    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" >
        <MudTextField T="string" Label="Name" Required="true" RequiredError="Shopping item requires a name!" @bind-Value="dto.Name" Immediate="true" />
        <MudNumericField @bind-Value="dto.Quantity" Label="Quantity" Variant="Variant.Text" Min="1" Max="10" />
        <MudTextField T="int?" Label="Weight in grams" @bind-Value="dto.Weight" />
        <MudSelect T="CategoryDto" Label="Category" @bind-Value="dto.Category">
            @foreach(var category in categories)
            {
                <MudSelectItem Value="category"></MudSelectItem>
            }
        </MudSelect>
        <MudTextField T="string" Label="Category name" Required="true" RequiredError="Product must have a category!"
            HelperText="If you couldn't find your category, enter a new one here" @bind-Value="dto.Category.Name" Immediate="true" />
        <div style="display: flex; align-items: center; margin-top: 0.5rem;">
            <MudButton Variant="Variant.Filled" Color="Color.Tertiary" Disabled="@(!success)" Class="mr-auto" OnClick="() => Add()">Add</MudButton> 
        </div>

    </MudForm>
</MudPaper>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private bool success { get; set; } = false;
    private string[] errors { get; set; } = { };
    private MudForm? form { get; set; } = new MudForm();

    private ICollection<CategoryDto>? categories { get; set; } = new List<CategoryDto>();
    private PostProductDto dto = new();


    protected override async Task OnInitializedAsync()
    {
        var res = await Http.GetAsync($"Categories");

        categories = await HttpResultHelper.Process(res, () => res.Content.ReadFromJsonAsync<ICollection<CategoryDto>>());
    }

    protected async void Add()
    {
        var res = await Http.PostAsync($"GroceryLists/{Id}", JsonSerializerHelper.Process(dto));

        if (res.IsSuccessStatusCode)
        {
            Navigation.NavigateTo($"/grocerylist/{Id}");
        }
    }
}
