@using Elwin.GoGroceries.Contracts;
@using Elwin.GoGroceries.Contracts.DtoBases;
@typeparam TItem where TItem : NamedDtoBase

<ul>
    @if (Items is not null)
    {
        @foreach (var item in Items)
        {
            <ListItemComponent Item="item" OnClickListItem="ClickListItem" OnDelete="Delete"></ListItemComponent>
            <MudDivider />
        }
        @if (!HideAdd)
        {
            <li @onclick="() => AddNew()">
                <MudIcon Icon="@Icons.Material.Filled.Add"></MudIcon> Add item
            </li>
        }
    }
</ul>

@code {
    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = null!;

    [Parameter]
    public EventCallback<Guid> OnClickListItem { get; set; }

    [Parameter]
    public EventCallback<Guid> OnDelete { get; set; }

    [Parameter]
    public EventCallback<Guid> OnAdd { get; set; }

    [Parameter]
    public bool HideAdd { get; set; } = false;

    protected async Task Delete(Guid id)
    {
        await OnDelete.InvokeAsync(id);
    }

    protected async Task ClickListItem(Guid id)
    {
        await OnClickListItem.InvokeAsync(id);
    }

    protected async Task AddNew()
    {
        await OnAdd.InvokeAsync();
    }
}
