li {
    padding: 0.6rem;
}

li:hover {
    background-color: rgb(128, 128, 128, 0.1);
    cursor: pointer;
}

::deep .custom-panel-header .mud-expand-panel-header {
    padding: 0px 12px;
}


::deep .edit-icon {
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
}

::deep .edit-icon:hover {
    color: #1ec8a5ff;
}